* {
  margin: 0px;
  padding: 0px;
}

.content {
  width: 90%;
  margin: auto;
  padding: 10px;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.content a {
  width: 100%;
  padding: 5px;
}

.content a img {
  width: 100%;
  padding: 5px;
}

.menu {
  width: 90%;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0.3);
}

.menu > div {
  width: 100%;
}

.menu a {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  color: white;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  opacity: 100%;
  padding-top: 10px;
}

.mennu a:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

header {
  position: fixed;
  left: 55px;
  width: 90%;
}

.curent {
  background-color: rgba(255, 255, 255, 0.7);
  color: black !important;
}

@media only screen and (max-width: 46.1875em) {
  .menu {
    height: 50px;
  }
  .menu a {
    height: 50px;
  }
  header {
    left: 20px;
  }
}


@keyframes sparkle {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.footer {
  margin: 20px;
  text-align: end;
  padding: 15px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif; /* Font chữ hiện đại */
  border-radius: 10px; /* Bo góc */
  letter-spacing: 2px; /* Tăng khoảng cách chữ */
  color: rgba(132, 0, 255, 0.466);
}
